body {
  font-family: var(--font-family-base);
  background-color: var(--bg-main);
  color: var(--text-secondary);
}

h1,
h2,
h3 {
  color: var(--text-primary);
}

h1 {
  font-weight: var(--fw-bold-700);
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}

h2 {
  font-weight: var(--fw-semibold-600);
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
}

h3 {
  font-weight: var(--fw-medium-500);
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}

p {
  color: var(--text-secondary);
  font-weight: var(--fw-regular-400);
  line-height: var(--lh-body);
  font-size: var(--fs-body);
}

.project-card {
  background-color: var(--bg-surface);
  border: 1px solid var(--border-color);
}

.theme-switch__icon {
  color: var(--text-primary);
}

.heart-btn {
  color: var(--text-primary);
}