@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: var(--space-xl-24px);
  margin-right: var(--space-xl-24px);
  margin-bottom: var(--space-xl-24px);
}

.header-content .header-logo {
  width: 72px;
  height: auto;
  color: var(--text-primary);
}

.header-content .theme-switch__icon {
  width: var(--icon-md-20px);
  height: auto;
}

.theme-switch__icon {
  color: var(--color-accent);
}

.header-content .theme-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-xl-24px);
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-xl-24px);
  margin-right: var(--space-xl-24px);
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--space-lg-20px);
  padding-bottom: var(--space-md-16px);
  padding-left: var(--space-md-16px);
  padding-right: var(--space-md-16px);
  margin-bottom: var(--space-sm-12px);
  gap: var(--space-xxs-4px);
}

#hero .hero-content {
  text-align: center;
  padding-top: var(--space-sm-12px);
  padding-bottom: var(--space-sm-12px);
  padding-left: var(--space-xs-8px);
  padding-right: var(--space-xs-8px);
}

#hero h2 {
  color: var(--text-secondary);
  font-weight: var(--fw-regular);
}

#hero p {
  text-align: center;
  padding-bottom: var(--space-xxs-4px);
  padding-left: var(--space-xs-8px);
  padding-right: var(--space-xs-8px);
}

.hero-socials ul {
  display: flex;
  justify-content: center;

  margin-bottom: var(--space-2xl-32px);
  gap: var(--space-xs-8px);
}

.hero-socials svg {
  width: var(--icon-lg-24px);
  height: var(--icon-lg-24px);
}

.hero-socials li:nth-child(1) a:hover {
  color: var(--clr-linkedin);
}

.hero-socials li:nth-child(2) a:hover {
  color: var(--clr-github);
}

.hero-socials li:nth-child(3) a:hover {
  color: var(--clr-email);
}

#about-me {
  margin-bottom: var(--space-2xl-32px);
}

#about-me h2 {
  padding-left: var(--space-xs-8px);
  margin-bottom: var(--space-sm-12px);
}

#about-me p {
  padding-left: var(--space-xs-8px);
}

#tech {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-2xl-32px);
}

#tech h2 {
  /* border: 1px solid red; */
  margin-bottom: var(--space-sm-12px);
  padding-left: var(--space-xxs-4px);
  padding-right: var(--space-xxs-4px);
}

#tech .tech-badges {
  /* border: 1px solid red; */
  display: flex;
  padding-left: var(--space-xs-8px);
  padding-right: var(--space-xs-8px);
  gap: var(--space-xs-8px);
}

.tech-badges li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-secondary);
  border-radius: var(--radius-ms-4px);
  padding: var(--space-xxs-4px);
  gap: var(--space-xs-8px);
}

.tech-badges svg {
  /* border: 1px solid red; */
  width: var(--space-md-16px);
  height: auto;
  flex-shrink: 0;
}

#tech p {
  /* border: 1px solid red; */
  font-size: var(--fs-small-12px);
  text-align: center;
}

#projects {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-2xl-32px);
}

#projects h2 {
  /* border: 1px solid red; */
  padding-left: var(--space-xxs-4px);
  padding-right: var(--space-xxs-4px);
  margin-bottom: var(--space-sm-12px);
}

#projects .projects-content {
  /* border: 1px solid red; */

}

#projects .project-card {
  background-color: #f8f9fa;
  /* border: 1px solid red; */
  margin-bottom: var(--space-sm-12px);
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: var(--radius-md-8px);
  box-shadow: 0px 4px 12px rgb(0, 0, 0, 0, 08);
}

#projects .project-header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-xs-8px);
}

#projects .project-actions {
  display: flex;
}

#projects .project-actions svg {
  width: var(--space-md-16px);
}
